body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

  /*Agregando ahora para que quede con la config del nav*/
  /*padding-top: 70px;*/
  /*aqui finaliza lo añadido ahora*/

  /*background-color: #f4f4f4;*/

  /*fondo de la pagina*/
  /*background: linear-gradient(to bottom right, #ffdde8, #b5fffc);
  background-size: cover;
  background-attachment: fixed;*/

  /*opcion de color 1*/
  /*width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    -45deg,
    rgb(252, 209, 237) 0,
    transparent 30px,
    rgb(252, 194, 247) 30px,
    transparent 60px,
    rgb(197, 250, 245) 120px,
    transparent 240px
  );
  background-color: rgb(255, 183, 255);*/

  /*opcion de color 2*/
  /*width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    -45deg,
    rgb(252, 238, 247) 0,
    transparent 30px,
    rgba(250, 161, 244, 0.87) 30px,
    transparent 60px,
    rgb(255, 255, 255) 120px,
    transparent 240px
  );
  background-color: rgb(255, 183, 255);*/

  /*opcion de color 3*/
  /*width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    -45deg,
    rgb(252, 238, 247) 0,
    transparent 60px,
    rgb(255, 255, 255) 120px,
    transparent 240px
  );
  background-color: rgb(255, 183, 255);*/

  /*opcion de color 4*/
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(
    -145deg,
    rgb(252, 238, 247) 0,
    transparent 50px,
    rgb(255, 255, 255) 120px,
    transparent 465px
  );
  background-color: rgb(255, 183, 255);
}

/*titulo kaia estilo*/

nav h4 {
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-size: 32px; /*TAMAÑO FIJO, Usa un tamaño fijo en px pq al utilizar rem como que este varia, como px en lugar de unidades relativas como rem o em */
  margin: 0;
  line-height: 1.2; /* Ajuste del espaciado */
  text-align: center;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

/*titulos del cuerpo de pagina*/
h3 {
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  margin: 0;
}

header {
  background-color: #f7b9d6;
  color: rgb(255, 55, 165);
  /*padding: 1rem 0;*/
  text-align: center;
  margin-bottom: 200px; /*65px*/
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f7b9d6; /* Color de fondo para el nav */
  color: rgb(255, 55, 165);
  z-index: 1; /*Asegura que el nav esté por encima de otros elementos */
  padding: 1rem 0; /*1rem 0*/
  text-align: center; /* Centra todo el contenido dentro del nav */
}

@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between; /* Espacio entre el título y el menú */
    align-items: center;
    padding: 1rem; /* Ajuste del padding */
  }
}

/*Estilo del menú*/

/* Ajustes para el menú en pantallas pequeñas */

.menu {
  display: none; /*Oculto por defecto*/
  flex-direction: column;
  position: fixed;
  top: 0;
  right: -100%; /*Oculto por defecto*/
  width: 50%;
  height: 100%;
  background-color: #f7b9d6;
  padding: 2rem;
  transition: left 0.3s ease-in-out;
  z-index: 2; /* Asegúrate de que el z-index sea menor que el del toggle */
}

#checkbox:checked ~ .menu {
  display: flex;
  right: 0; /*Muestra el menú*/
}

.nav-item {
  margin: 10px 0;
  color: rgb(255, 55, 165);
  text-decoration: none;
  font-size: 1.2rem;
}

/* Estilos responsivos */
/*@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
} */ /*ver como queda*/

/*EFECTO DE ANIMACION DE LA PAGINA (SCROLL ANIMATION 1) "ANIMACIÓN PARA INICIAR CARGANDO LA PAGINA"*/

/*EFECTO DE ANIMACION DE LA PAGINA (SCROLL ANIMATION 2) "PARA CUANDO VOY DESPLAZANDOME POR LA PAGINA"*/

.scroll-animation,
.scroll-animation-2 {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-animation.show,
.scroll-animation-2.show {
  opacity: 1;
  transform: translateY(0);
}

/*FINALIZA EL EFECTO CSS AQUI*/

/*DESCRIPCION INICIAL CON IMAGEN DEL EMPRENDIMIENTO*/
.hero-section {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  display: flex;
  align-items: flex-start;
}

.hero-box {
  width: 250px;
  height: 250px;
  border-radius: 20px; /* Bordes circulares */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 10px 15px rgba(0, 0, 0, 0.1); /* Sombra */
}

.hero-image {
  background-color: rgba(
    72,
    209,
    205,
    0.473
  ); /* Color de fondo para la imagen */
  margin-top: -65px; /* Eleva la imagen */
  width: 560px;
  height: 310px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 20px; /* Bordes circulares para la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor */
}

.hero-description {
  background-color: rgba(
    248,
    232,
    242,
    0.308
  ); /* Fondo transparente para la descripción */
  padding: 20px;
  margin-top: 65px; /* Baja la descripción */
  width: 560px;
  height: 310px;
}

.hero-description p {
  margin: 0;
  font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
  line-height: 1.6; /* Mejora la legibilidad aumentando el espacio entre líneas */
  font-family: "Arima", cursive; /* Cambia la fuente a una más decorativa */
  text-align: justify; /* Justifica el texto para un mejor alineado */
  padding: 15px; /* Añade espacio interno para evitar que el texto esté pegado a los bordes */
  color: #555;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .hero-section {
    padding: 20px;
    flex-direction: column;
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-image {
    width: 80%;
    height: 80%;
  }

  .hero-description {
    width: 100%;
    height: 135px;
    margin-top: 1px;
  }

  .hero-description {
    padding: 10px;
  }

  .hero-description p {
    font-size: 10px; /* Ajusta el tamaño de la fuente para pantallas más pequeñas */
    padding: 10px; /* Reduce el padding en pantallas pequeñas */
  }
}

/**/

/*CHECKBOX PARA OPCIONES DEL NAV EN FORMATO CELU*/
/*Ocultar los botones por defecto en pantallas pequeñas*/
#checkbox {
  display: none;
}

/* Mostrar los botones cuando el checkbox está marcado */
#checkbox:checked ~ .flex {
  display: flex; /*flex*/
  flex-direction: column; /* Para que los botones se apilen verticalmente */
  align-items: center;
  gap: 10px; /* Espaciado entre botones */
}

/* Estilo para el toggle */
.toggle {
  position: fixed; /* Cambiado a fixed para que permanezca en su posición */
  top: 10px; /* Ajusta según sea necesario */
  right: 10px; /* Ajusta según sea necesario */
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 3; /* Asegura que el toggle esté sobre el menú */
  transition-duration: 0.3s;
}

.bars {
  width: 100%;
  height: 4px;
  background-color: rgb(255, 55, 165);
  border-radius: 5px;
  transition-duration: 0.3s;
}

#checkbox:checked + .toggle .bars {
  margin-left: 13px;
}

#checkbox:checked + .toggle #bar2 {
  transform: rotate(135deg);
  margin-left: 0;
  transform-origin: center;
  transition-duration: 0.3s;
}

#checkbox:checked + .toggle #bar1 {
  transform: rotate(45deg);
  transition-duration: 0.3s;
  transform-origin: left center;
}

#checkbox:checked + .toggle #bar3 {
  transform: rotate(-45deg);
  transition-duration: 0.3s;
  transform-origin: left center;
}

/* Estilos responsivos */
/* Mostrar el toggle y checkbox solo en pantallas pequeñas */
@media (max-width: 768px) {
  .toggle {
    display: flex; /* Mostrar el toggle solo en pantallas pequeñas */
  }

  nav .flex {
    display: none; /* Asegura que estén ocultos por defecto en móvil */
  }

  #checkbox:checked ~ .flex {
    display: flex; /* Mostrar opciones cuando el checkbox está marcado */
  }
}

/* Ocultar el checkbox en pantallas grandes */
@media (min-width: 769px) {
  #checkbox {
    display: none; /* Mostrar checkbox solo en pantallas pequeñas */
  }

  .toggle {
    display: none; /* Ocultar el toggle en pantallas grandes */
  }
}

/*FINALIZA CHECKBOX*/

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
  bottom: 0;
  position: relative;
  width: 100%;
}

/*Carta para presentar los productos y luego de la opción de ir a ver*/
/* From Uiverse.io by eslam-hany */
.card-container {
  display: flex;
  gap: 150px; /* Espacio entre las tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
  align-items: center; /* Centra las tarjetas verticalmente */
  flex-wrap: wrap; /* Asegura que las tarjetas se ajusten en varias filas si la pantalla es pequeña */
  margin-bottom: 85px;
}

/*AGREGADO OPCION DE TARJETA CON IMAGEN*/
.card {
  position: relative;
  width: 220px;
  height: 320px;
  background: mediumturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.card::before,
.card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  background-color: lightblue;
  transition: all 0.5s;
}

.card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.card:hover::before,
.card:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: rgba(247, 154, 190, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 2; /* Asegura que el enlace esté encima */
}

.card:hover .card-link {
  opacity: 1;
}

.card:hover::after {
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent; /* Mantén el texto en el efecto pero invisible al usuario */
}

/*TEXTO CON efecto luz texto*/

.glowing-text {
  margin-top: 100px;
  margin-bottom: 85px;
  font-size: 42px; /* Tamaño del texto */
  font-weight: bold;
  color: white; /* Color del texto */
  text-align: center; /* Centrar el texto */
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff,
    0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff;
}

/*TARJETA CON LOS PRECIOS*/
.contenedor-tarjeta-precio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 2rem; /* Menor espacio entre las filas */
  column-gap: 5.5rem; /* Menor espacio entre las columnas */
  justify-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card-con-precio {
  width: 200px;
  height: 315px;
  padding: 0.8em;
  background: #f5f5f5;
  position: relative;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  /*transition: transform 0.3s ease-in-out;*/
  transition: transform 0.3s ease-in-out, opacity 0.6s ease-out; /* Transiciones combinadas */
}

.card-img {
  margin-bottom: 10px;
  background-color: #ffcaa6;
  padding-top: 60.25%; /*Proporción 16:9*/
  height: 0;
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
  transition: 0.3s ease;
  position: relative;
}

.card-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  object-fit: cover;
}

.card-info {
  display: block;
  margin-top: 40px;
  padding-top: 10%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
}

.text-body {
  font-size: 0.9em;
  padding-bottom: 10px;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: 0.3em;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

/* Hover - Agrandar la tarjeta */
.card-con-precio:hover {
  transform: scale(1.1); /* Agrandar la tarjeta */
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

/*CONTACTO*/

/*BOTON PARA CONTACTAR*/

.cuadro-para-contacto {
  background-color: #333;
  width: 80%;
  max-width: 800px;
  margin: 0 auto 90px auto; /* Centrado horizontal */
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start; /* Alinear elementos en la parte superior */
  flex-wrap: wrap; /* Permitir que los elementos se acomoden en móviles */
  gap: 20px; /* Espaciado entre los bloques */
  border-radius: 1rem;
}

.contacto-item {
  display: flex;
  flex-direction: column; /* Apilar elementos verticalmente */
  justify-content: space-between;
  align-items: center; /* Centrar elementos horizontalmente */
  width: 45%; /* Dos items por fila */
  gap: 10px; /* Espaciado entre logo, texto y botón */
  text-align: center;
}

/*.contacto-item {
  text-align: center;
  width: 45%; /* Ancho de cada item para que se ajusten dos en línea */
/*display: flex;
  flex-direction: column; /* Ordenar logo, texto y botón en columna */
/*align-items: center; /* Centrar elementos horizontalmente */
/*gap: 1px; /* Espaciado entre el logo, texto y botón */
/*margin-bottom: 20px; /* Espacio entre filas en dispositivos pequeños */
/*}*/

.imagen-whatsapp,
.imagen-instagram {
  width: 200px; /* Tamaño uniforme para los logos */
  height: 200px; /* Tamaño uniforme para los logos */
  margin-bottom: 10px;
}

.text-whatsapp {
  color: rgb(68, 248, 52);
  font-weight: bold;
  font-size: 20px; /* Tamaño ajustado para que quede bien en móviles */
  text-align: center;
  text-shadow: 0 0 10px #0df50d, 0 0 20px #48f751, 0 0 30px #00ff40,
    0 0 40px #48f751, 0 0 50px #48f751, 0 0 60px #48f751;
}

.text-instagram {
  color: rgb(255, 90, 247); /* Color de texto para Instagram */
  font-weight: bold;
  font-size: 20px; /* Tamaño ajustado para que quede bien en móviles */
  text-align: center;
  text-shadow: 0 0 10px #ff6464, 0 0 20px #ff8989, 0 0 30px #ffbdbd,
    0 0 40px #ffbdbd, 0 0 50px #ffbdbd, 0 0 60px #ffbdbd;
}

/*#3afa33*/

/*text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff00ff, 0 0 30px #ff00ff,
  0 0 40px #ff00ff, 0 0 50px #ff00ff, 0 0 60px #ff00ff;
*/

/* Botón de WhatsApp */
.boton-contacto-whatsapp {
  --glow-color: rgb(72, 245, 66);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(153, 78, 224);
  --btn-color: #3b3939; /* rgb(228, 218, 238);*/
  border: 0.25em solid var(--glow-color);
  padding: 1em 2em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  /*margin-left: 35%;*/
  margin-top: 10px;
  /*margin-bottom: 40px;*/
  width: fit-content; /* El botón ajusta su ancho al contenido */
  align-self: center; /* Asegura que esté centrado dentro del contenedor */
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* Sombra específica de WhatsApp */
.boton-contacto-whatsapp::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

/* Efecto hover para WhatsApp */
.boton-contacto-whatsapp:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

/* Efecto active para WhatsApp */
.boton-contacto-whatsapp:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

/* Botón de Instagram */
.boton-contacto-instagram {
  --glow-color: rgb(255, 90, 247);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(153, 78, 224);
  --btn-color: #3b3939;
  border: 0.25em solid var(--glow-color);
  padding: 1em 2em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
  text-shadow: 0 0 0.5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  /*margin-left: 35%;*/
  margin-top: 10px;
  /*margin-bottom: 40px;*/
  width: fit-content; /* El botón ajusta su ancho al contenido */
  align-self: center; /* Asegura que esté centrado dentro del contenedor */
  text-transform: uppercase;
}

/* Sombra específica de Instagram */
.boton-contacto-instagram::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

/* Efecto hover para Instagram */
.boton-contacto-instagram:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

/* Efecto active para Instagram */
.boton-contacto-instagram:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

@media (max-width: 768px) {
  .contacto-item {
    width: 100%; /* En pantallas pequeñas, cada elemento ocupa toda la fila */
  }

  .boton-contacto {
    width: 65%; /* Botón más ancho para pantallas pequeñas */
  }
}
